<div class="card_wrapper">
  <% @passes.each do |pass|%>

    <div class="card">
      <%= link_to pass_path(pass.id), class: "card-link" do%>
        <div class="pass_info">
           <div class="pass_image" style="background-image: url(<%= pass.image.url %>)">
           </div>
          <div class="card-inner">
            <ul>
              <li class="card-inner__title"><%= pass.title%></li>
              <li class="card-inner__price">
                <%= image_tag 'moneyicon.png',width: 40,class: "icon1" %>
                <%= pass.price%>円
              </li>
              <li class="card-inner__time">
                <%= image_tag 'timeicon.png',width: 40,class: "icon2"  %> <%= pass.time%>分
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
