<br>
<div class="pass_all">
<h1>パス一覧</h1>
</div>
<br>


<% @passes.each do |pass|%>
<%= link_to pass_path(pass.id) do%>

<div class="pass_info">
  <ul>
    <%= image_tag pass.image.url %>
    <li class="test"><%= pass.title%></li>
    <li>価格:<%= pass.price%>円</li>
    <li>所要時間:<%= pass.time%>分</li>
　　
  </ul>
</div>
<% end%>
<% end%>

