
<div class="passes_form">

以下の項目を埋めてください

<%= form_for (@pass)do |f| %>
<%= f.label :title,:メニュー %>
<br>
<%= f.text_field :title, placeholder: '(例)メンテナンスカット' %>
<br>
<%= f.label :image,:イメージ画像 %>
<%= f.file_field :image %>
<br>
<%= f.label :content,:内容 %>
<br>
<%= f.text_area :content, placeholder: '(例)毛先を整えたり、前髪をカットするメンテナンスです。大幅なスタイルチェンジはできません。' %>
<br>
<%= f.label :price,:価格 %>
<br>
<%= f.number_field :price, placeholder: '(例)500' %>円
<br>
<%= f.label :time,:所要時間 %>
<br>
<%= f.number_field :time, placeholder: '(例)30' %>分
<br>
<%= f.label :conditions,:条件 %>
<br>
<%= f.text_area :conditions, placeholder: '(例)美容師免許取得予定の方、美容専門学校所属の方、アンケートに答えてくださる方' %>
<br>
<%= f.submit :送信, class: "sent"%>

<% end %>
</div>

