
<div class="pass_detail" style="background-image: url(<%= @pass.image%>)">
</div>
<div class="pass_detail">
<div>
  <%= image_tag @pass.image %>
</div>
<div class="pass_describe">
  <p><%= @pass.title %></p>
  <br>
  <p><%= image_tag 'moneyicon.png',width: 45,class: "icon1" %> <%= @pass.price %>円       <%= image_tag 'timeicon.png',width: 45,class: "icon2" %> <%= @pass.time %>分</p>
  <br>
  <div class="pass_details_title">   Menu</div>
  <br>
  <p><%= @pass.content %></p>
  <br>
  <div class="pass_details_title">   Conditions</div>
  <br>
  <p><%= @pass.conditions %></p>
</div>


<br>
<p><%= image_tag @pass.salon.image %></p>
<br>
<p>【<%= @pass.salon.salon_name %>】</p>
<br
<p>住所:<%= @pass.salon.place %></p>
<br>
<p>アクセス:<%= @pass.salon.distance %></p>
<br>
<p>スタッフ数:<%= @pass.salon.staff %>人</p>
<br>
<p>席数:<%= @pass.salon.seat %>席</p>
<br>
<div class="pass_details_title">   PR</div>
<p><%= @pass.salon.pr %></p>
<br>
<p><%= link_to @pass.salon.hpb_url , class: "salon_url" do%>
    <%= image_tag('salon_hp.png',width: 400) %></p>
  <%end%>
<br>
<p><%= link_to "https://www.instagram.com/#{@pass.salon.ig_url}" , class: "salon_url" do%>
    <%= image_tag('instagram (1).png',width: 200) %></p>
  <%end%>

</div>



