
<div class="pass_detail" style="background-image: url(<%= @pass.image%>)">
</div>
<div class="pass_detail">
<br>
<!-- <td><%= image_tag @pass.image %></td> -->
<br>
<td><%= @pass.title %></td>
<br>
<h1>内容:<%= @pass.content %></h1>
<br>
<h2>価格:<%= @pass.price %>円</h2>
<br>
<h3>所要時間:<%= @pass.time %>分</h3>
<br>
<h4>条件:<%= @pass.conditions %></h4>
</div>
