パス内容

<html>
<head>
<title>背景色を指定</title>
</head>

<body bgcolor="pink">

</body>
</html>

<br>

<%= @pass.title %>
<%= @pass.content %>
<%= @pass.price %>円
<%= @pass.time %>分
<%= @pass.conditions %>

