
<div class="pass_detail" style="background-image: url(<%= @pass.image%>)">
</div>
<div class="pass_detail">
<div>
  <%= image_tag @pass.image %>
</div>

<div class="pass_describe">
  <p><%= @pass.title %></p>
  <br>
  <p>内容:<%= @pass.content %></p>
  <br>
  <p>価格:<%= @pass.price %>円</p>
  <br>
  <p>所要時間:<%= @pass.time %>分</p>
  <br>
  <p>条件:<%= @pass.conditions %></p>
</div>

<p>サロン名:<%= @pass.salon.salon_name %></p>
<br>
<p><%= image_tag @pass.salon.image %>
</p>
<br>
<p>住所:<%= @pass.salon.place %></p>
<br>
<p>アクセス:<%= @pass.salon.distance %></p>
<br>
<p>スタッフ数:<%= @pass.salon.staff %>人</p>
<br>
<p>席数:<%= @pass.salon.seat %>席</p>
<br>
<p>サロンPR:<%= @pass.salon.pr %></p>
<br>
<p><%= link_to @pass.salon.hpb_url , class: "salon_url" do%>
    <%= image_tag('salon_hp.png',width: 400) %></p>
  <%end%>
<br>
<p><%= link_to "https://www.instagram.com/#{@pass.salon.ig_url}" , class: "salon_url" do%>
    <%= image_tag('instagram (1).png',width: 200) %></p>
  <%end%>

</div>



