
<div class="top_logo">
<%= image_tag 'be-pass.png',
width: 600 %>
</div>

<div class="catch_copy">
<p1>もっと気軽に、</p1>
<br>
<p2>もっと自由に。</p2>
</div>

<div class="studentlog">
  <%= link_to new_student_session_path do%>
    <%= image_tag('JNZ2vHljKrnBNsW1512167066_1512167355.png',width: 450) %>
  <%end%>
</div>

<div class="salonlog">
  <%= link_to new_salon_session_path do%>
    <%= image_tag('salonlogo.png',width: 450) %>
  <%end%>
</div>


<div class="app_info">
  <p3> ＜Be-passとは＞</p3>
  <br>
  <p4> ・「美」の「Passport」</p4>
  <br>
  <p5> ・「Be」+「Pass」で合格する、パスする</p5>
  <br>
  <p6> Be-passには上記2つの意味が</p6>
  <br>
  <p7>込められています。</p7>
  <br>
     <div class="ribon">
     <%= image_tag('ribonmodel.png',width: 900) %>
     </div>
  <br>
  <p8>美容学生はもっと気軽にサロンと出会い、</p8>
  <br>
  <p9>サロンはもっと自由に学生と出会える。</p9>
  <br>
  <p10>お互いをより知ることで、ミスマッチをなくす。</10p>
  <br>
  <p11>Be-passはそんな世界を作り上げます。</p11>

</div>

