
<div class="top_logo">
<%= image_tag 'logo.png',
width: 800 %>
</div>

<div class="app_name">
<h>Be-pass</h>
</div>

<div class="catch_copy">
<p1>もっと気軽に、</p1>
<br>
<p2>もっと自由に。</p2>
</div>

<div class="studentlog">
  <%= link_to new_student_session_path do%>
    <%= image_tag('JNZ2vHljKrnBNsW1512167066_1512167355.png',width: 600) %>
  <%end%>
</div>

<div class="salonlog">
  <%= link_to new_salon_session_path do%>
    <%= image_tag('salonlogo.png',width: 600) %>
  <%end%>

