<!DOCTYPE html>
<html>
<head>
  <title>Dojoapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<div class="logobox">
  <%= image_tag 'logo.png',
width: 200 %>
</div>
<%if current_student %>
  <div class="logout">
    <%= link_to destroy_student_session_path,method: :delete, class: "student_logout" do %>
      <%= image_tag('logout.png',width: 200) %>
    <% end %>
  </div>

<%elsif current_salon%>
  <div class="logout">
    <%= link_to destroy_salon_session_path,method: :delete,class: "salon_logout" do%>
      <%= image_tag('logout.png',width: 200) %>
    <% end %>
  </div>
<%end%>

<%if current_salon %>
  <div class="passpo">
    <%= link_to new_pass_path, class: "pass_post" do %>
      <%= image_tag('pass-post.png',width: 200) %>
    <% end %>
  </div>

<%end%>

</header>
<%= yield %>

</body>
</html>
